@font-face {
    font-family: "TeXGyreSchola";
    src: url("texgyreschola-regular.otf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata-VariableFont.ttf");
}

@font-face {
    font-family: "Scapholene";
    src: url("Scapholene.ttf");
}

html {
	font-family: "TeXGyreSchola", serif;
}

.radio-controls {
	align-items: center;
	background: #400672;
	color: white;
	display: flex;
	gap: 10px;
	justify-content: center;
	left: 0;
	top: 0;
	padding: 10px;
	position: fixed;
	width: 99%;
	z-index: 3000;
}

.radio-controls input[type="range"] {
	flex: 1;
}

.principal {
	border-radius: 0.5em;
}

.principal,
.projet,
.narrateur,
.legal,
.chanson,
button {
	background-color: #f9f8f2;
	font-family: "TeXGyreSchola", serif;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.principal h1,
.principal h2,
.principal h3 {
	font-size: 3vw;
}

.legal {
	font-size: 1.0vw;
	font-style: italic;
}

.projet,
.narrateur,
.legal,
.chanson {
	margin-top: 3em;
}

.scribe {
	border-left : 10px solid #000000;
	font-family: "Inconsolata", monospace;
	font-size: 18pt;
	margin-top: 5em;
	padding-left: 10px;
}

body {
	background-image: url('./images/TQFO/arriere_01.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 6rem 0 0 0;
}

div {
	margin-bottom: 2rem;
}

h1 {
	margin-top: 8em;
}

h2 {
	margin-top: 8em;
	border-bottom: 1px solid #000000;
}

h3 {
	border-bottom: 1px solid #000000;
	margin-right: 3em;
}

button {
	margin-top: 10px;
}

.bouton-table-des-matieres,
.bouton-config {
	background-color: #400672;
	color: #ffffff;
	border-radius: 4em;
	width: 2em;
	height: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 5em;
}

.bouton-table-des-matieres {
	position: fixed;
	top: 10rem;
	left: 10px;
}

.bouton-config {
	position: fixed;
	top: 10rem;
	left: 3em;
}

#commande-clair:hover,
#commande-fonce:hover,
#police-scapholene:hover,
#police-moins:hover,
#police-plus:hover {
	background-color: #ffffff;
	color: #000000;
	font-weight: bold;
}

#commande-clair,
#commande-fonce,
#police-scapholene,
button {
	padding: 5px 10px 5px 10px;
	border-radius: 1em;
	background-color: #000000;
	color: #ffffff;
	font-size: 1.0vw;
	cursor: pointer;
}

a:hover {
	background-color: #000000;
	border-radius: 1em;
	color: #ffffff;
	padding: 5px 10px 5px 10px;
}

.image-histoire {
	margin-top: 5em;
	max-width: 700px;
	border-radius: 64em;
}

.image-TQFO {
	max-width: 800px;
	border-radius: 20px;
}

.menu-config,
.table-des-matiere {
	background-color: #ddc31a;
	border-radius: 1em;
	bottom: 0;
	color: #000000;
	display: none;
	padding: 10px;
	position: fixed;
	z-index: 1000;
}

.lien {
	color: #0b0bbb;
	text-decoration: none;
}

.image-narrateur {
	border-radius: 64em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.narrateur h2,
.legal h2,
.chanson h2,
.projet h4,
.projet h2 {
	border-bottom: 1px solid #000000;
	margin-bottom: 0px;
	margin-top: 0px;
}

.narrateur,
.projet,
.legal,
.chanson {
	border: 1em solid transparent;
	border-image: linear-gradient(90deg, #400672, #ddc31a, #726614);
	border-image-slice: 1;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin-top: 3em;
}

.legal {
	margin-bottom: 100vh;
}

/* Thème clair */
.theme-clair .principal,
.theme-clair .projet,
.theme-clair .narrateur,
.theme-clair .legal,
.theme-clair .chanson {
  background-color: #f9f8f2;
  color: #000000;
}

.theme-clair .lien {
  color: #0b0bbb;
}

/* Thème sombre */
.theme-fonce .principal,
.theme-fonce .projet,
.theme-fonce .narrateur,
.theme-fonce .legal,
.theme-fonce .chanson {
  background-color: #000000;
  color: #f9f8f2;
}

.theme-fonce .lien {
  color: #f071f5;
}

#choix-police {
	border: 2px outset #0bbb0b;
	font-size: 1.0vw;
	padding: 7px;
	border-radius: 20px;
}

#police-moins,
#police-plus {
	cursor: pointer;
}

#fermer-config {
	float: right;
	cursor: pointer;
}

#fermer-table {
	float: right;
	cursor: pointer;
}

.table-des-matiere ul {
	list-style-type: none;
}

.droite {
	text-align: right;
	font-style: italic;
	float: right;
}

.temps {
	border: 0px;
	background-color: #10085b;
	border-radius: 64em;
	color: #dcd9f9;
	padding: 10px;
	font-size: 1.5vw;
}

.temps:hover {
	background-color: #dcd9f9;
	color: #10085b;
}

.petit {
	font-style: italic;
}

.octave {
	font-style: italic;
	text-align: center;
}

.centre {
	text-align: center;
}

img[alt="Hits"] { display: none; }

